<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>


<body>
  <div class="containerMain">
  <nav class="navbar">
    <div class = "navbar__container">
      <a href="/" id="navbar__logo">IT CENTER</a>
    <div class="navbar__menu">
      <li class="navbar__item">
        <a routerLink="employee" class="navbar__links">Employees</a>
      </li>
      
      <li class="navbar__item">
        <a routerLink="costcenter" class="navbar__links">Cost Centers</a>
      </li>

      <li class="navbar__item">
        <a routerLink="asset" class="navbar__links">Assets</a>
      </li>

      <li class="navbar__item">
        <a routerLink="assetemployee" class="navbar__links">Employee's Assets</a>
      </li>
      
      <li class="dropdown">
        <button class="dropbtn">Add</button>
        <div class="dropdown-content">
          <a routerLink = "employeeadd">Employee</a>
          <a routerLink = "costcenteradd">Cost Center</a>
          <a routerLink = "assetadd">Asset</a>
          <a routerLink = "assetemployeeadd">Asset to Employee</a>
      </div>
      </li>
    
    </div>
  </div>
  </nav>
</div>
  <div class = "" >
    <router-outlet></router-outlet>
  </div>

</body>