.list__container {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto;
    float: center;
    width: auto;
    height: auto;
    position: absolute;
    left: 15%;
}


.list-group-item {
    width: 500px;
}

.list-group {
    position: relative;
}

.list-group {
    position: relative;
    text-align: center;
}

.costCenterDetails {
    display: block;
    justify-content: center;
    text-align: center;
    height: 150px;
}

.box__split {
    width: 50%;
    float: right;
}

.button:hover {
    background: rgb(28, 5, 198);
    transition: all 1s ease;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}