<div class="input-group ">
  <div class="input-group-append">
    <button
      class="button"
      (click)="OrderByNameAsc()"
    >
      Order By Name Asc
    </button>
  </div>

  <input
    type="text"
    class="form-control"
    placeholder="Search by name"
    [(ngModel)]="name"
    
  />
  <div class="input-group-append">
    <button
      class="button"
      (click)="SearchByName()"
    >
      Search
    </button>
  </div>
  
  
  <div class="input-group-append">
    <button
      class="button"
      (click)="OrderByNameDesc()"
    >
      Order By Name Desc
    </button>
  </div>
</div>


<div class="box__two">
<div class="AssetDetails">
    <app-asset-details
      [viewMode]="true"
      [currentAsset]="currentAsset"
    ></app-asset-details>
</div>
</div>
 
 <div class="list__container">
      <div class="box__two">
        <ul style = "list-style : none " class="list-group"> 
           <li class = "list-group-item">Asset Name --- Asset Description</li>
            <li
              class="list-group-item"
              *ngFor="let asset of Assets; let i = index"
              [class.active]="i == currentIndex"
              (click)="setActiveAsset(asset, i)"
            >
            {{asset.name}} --- {{asset.description}}
            </li>
          </ul>
      </div>
  </div>
      
         
       